{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[1] %}
{% block page_title %}{{ entry.title }}{% endblock %}

{% block page_description %}Blog entry for {{entry.date}},{{ entry.title}}.{% endblock %}

{% block story %}
  <h1>{{ entry.title }}</h1>
  <h5>Captain's log: {{ entry.title }}</h5>
  <p> Buccaneer maroon hempen halter barque. Hulk gabion coxswain hands. Keelhaul doubloon scuppers handsomely.</p>
  <p> Hearties rum fathom warp. Lookout hands line matey. Line boom gun holystone. </p>
  <p> Heave down hearties starboard sutler. Bilge water black jack bilge rat interloper. Lookout bilge rat execution dock overhaul. </p>
  <p> Warp bilged on her anchor draft heave down. Spyglass jury mast warp provost. Main sheet holystone aft wench. </p>
  <p> Pillage cog yawl bounty. Nipperkin landlubber or just lubber overhaul lee. Matey spanker jolly boat hang the jib. </p>
  <div>
  <img src="img/kraken01.jpg" class="img-fluid" alt="Kraken Photo 1">
{% endblock %}