{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[2] %}
{% block page_title %} {{ entry.title }} {% endblock %}

{% block page_description %}Blog entry for {{ entry.date }},{{ entry.title }}.{% endblock %}

{% block story %}
  <h1>{{ entry.title }}</h1>
  <h5>Captain's log: {{ entry.title }}</h5>
  <p> Shrouds coffer Blimey starboard haul wind sloop. Loot pinnace Pieces of Eight Brethren of the Coast swing the lead rum. Hogshead sloop killick league Gold Road nipperkin. Dead men tell no tales hulk come about interloper grog coffer. Prow red ensign reef sails long boat square-rigged black jack.</p>
  <p> Mizzen ho fathom loot yo-ho-ho gabion. Broadside boom scurvy ye square-rigged tack. Run a shot across the bow spike tackle yawl mizzenmast salmagundi. Killick yo-ho-ho reef sails scurvy grapple furl. Yellow Jack Jolly Roger knave parrel deadlights crimp. </p>
  <p> Hearties skysail Jack Tar fire in the hole to go on account lass. Shrouds ahoy no prey, no pay Jolly Roger jolly boat Shiver me timbers. Ahoy pirate bring a spring upon her cable heave to ye fore. Draft sutler rigging grog scallywag cutlass. Boom wench come about hogshead topsail gibbet. </p>
<img src="img/kraken03.jpg" class="img-fluid" alt="Kraken Photo 3">
{% endblock %}