{% extends '_layouts/base.njk' %}

{% block page_title %} The Ship's Log {% endblock %}

{% block page_description %} A daily blog from Capt. Crit McGillicutty.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Ahoy mateys!</h1>
      <p> Ahoy scallawags! This here blog will show ye the sordid tales of Captain Crit McGillicutty. Read well, for Captain McGillicutty is the most feared pirate in the Seven Seas! </p>
      <p> May ye find all the treasure ye seek </p>
      <p> -First Mate Aifread </p>
      <div>
     {% for entry in data.entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
  <hr>
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
